.logoContainer {
    position: relative;
    cursor: pointer;
    border-radius: 18px;
    padding: 18px;
    z-index: 1;
    margin-right: 18px;
}

.logoContainer:hover {
    box-shadow: 0 5px 10px rgba(146, 61, 36, 0.05), 0 15px 40px rgba(165, 83, 63, 0.2);
}

input {
    border-radius: 12px;
    outline: none;
}

.icon {
    position: absolute;
    font-size: 24px;
    color: black;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
}

.badge {
    position: absolute;
    background-color: #dd1c1a;
    color: white;
    font-weight: bold;
    font-size: 8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    top: -6px;
    line-height: 18px;
}