.logoContainer {
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
    background-color: #dd1c1a;
    z-index: 1;
}

.icon {
    position: absolute;
    font-size: 12px;
    color: black;
    z-index: 5;
}