.logoContainer {
    padding-right: 48px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 2px 2px gray;
}

.icon {
    font-size: 12px;
    padding: 12px 12px 12px 12px;
    background-color: gray;
    border-radius: 12px;
    color: white;
}