.container {
    text-align: center;
}

.list {
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card {
    margin: 10px 10px 10px 10px;
}

.addButton {
    margin-top: 20px;
    text-align: center;
}