.searchContainer {
    width: 100%;
    height: 100%;
    left: 0;
    padding: 2% 20%;
    position: fixed;
    background: rgba( 255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    z-index: 20;
    text-align: center;
    overflow-y: scroll;
}

.searchContainer>input {
    margin-top: 5%;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    padding: 0.5em 1em 0.5em 1em;
}

.suggestion {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 10px;
    width: 100%;
    border-radius: 12px;
}

.suggestion:hover {
    background-color: gainsboro;
}

.imageContainer {
    padding: 20px;
}

.imageContainer>img {
    width: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.name {
    font-size: 18px;
}

.price {
    margin-top: 5px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
}

.suggestion>img {
    width: 5%;
    border-radius: 12px;
}

hr {
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .searchContainer {
        position: fixed;
        left: 0;
        top: 0;
        padding: 20px 20px;
    }
    .suggestion {
        align-items: center;
        margin-bottom: 3px;
        margin-top: 10px;
        width: 100%;
        margin-left: 0%;
        cursor: pointer;
    }
}