            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }
            
            .container {
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                width: 300px;
                height: 360px;
                padding: 25px;
                background: #fff;
                max-width: 260px;
                border-radius: 20px;
                margin: 10px auto;
                border-radius: 50px;
                box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
            }
            
            .discount {
                position: absolute;
                color: black;
                font-size: 100px;
                padding-left: 20px;
                padding-top: 24px;
                top: -18px;
                bottom: 50%;
                z-index: 1;
            }
            
            .discountInfo {
                position: absolute;
                padding-left: 20px;
                padding-top: 24px;
                left: 5px;
                top: 20px;
                color: #dd1c1a;
            }
            
            .imageContainer {
                text-align: center;
            }
            
            .imageContainer>img {
                width: 100%;
            }
            
            .adminControl {
                display: flex;
                justify-content: center;
            }
            
            .adminControl>.icon {
                margin-right: 10px;
                padding: 3px 3px 3px 3px;
                font-size: 30px;
            }
            
            .adminControl>.icon:hover {
                box-shadow: 0 5px 10px rgba(146, 61, 36, 0.05), 0 15px 40px rgba(165, 83, 63, 0.2);
            }
            
            .icon {
                color: #dd1c1a;
            }
            
            .name {
                font-weight: bold;
                text-align: center;
                margin-top: 5px;
                height: 40px;
            }
            
            .description {
                font-weight: 500;
                font-size: 12px;
                text-align: justify;
                margin-bottom: 10px;
                line-height: normal;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 80px;
            }
            
            .price {
                text-align: center;
                font-weight: bolder;
                color: #dd1c1a;
                margin-bottom: 10px;
            }
            
            .buttonContainer {
                display: flex;
                justify-content: space-around;
            }
            
            .buttonContainer>button {
                cursor: pointer;
                width: 120px;
                background-color: #dd1c1a;
                display: inline-block;
                padding: 0.3em 1.2em;
                margin: 0 0.1em 0.1em 0;
                border: 0.16em solid rgba(255, 255, 255, 0);
                border-radius: 2em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                color: white;
                text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
                text-align: center;
                transition: all 0.2s;
            }
            
            .buttonContainer>button:hover {
                border-color: rgba(255, 255, 255, 1);
            }
            
            @media screen and (max-width: 800px) {
                .container {
                    justify-content: start
                }
                .name {
                    margin-top: 5px;
                }
                .description {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: normal;
                    white-space: pre-wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .price {
                    text-align: center;
                    display: block;
                    font-size: 16px;
                    width: 100%;
                }
            }