.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 20;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(190, 190, 190, 0.56);
    overflow-y: hidden;
}

.modal {
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 20;
    padding: 30px 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.modal>h2 {
    color: #dd1c1a;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dd1c1a;
    cursor: pointer;
}

form {
    text-align: center;
}

.error {
    font-size: 10px;
    color: #bebebe;
    font-weight: 600;
}

.inputGroup {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    text-align: left
}

.inputGroup>input {
    border-radius: 2px;
    padding: 3px;
}

.inputGroup>input:focus,
textarea:focus {
    outline: none;
}

.inputGroup>label {
    width: 30%;
    text-align: left;
}